.search-area {
	width: max-content;
	display: flex;
	align-items: center;
	background: $card-bg;
	border-radius: 10px;
	box-shadow: 1px 1px 3px $card-shadow, -1px -1px 3px $card-shadow;
	margin-top: 30px;
	// display: none;

	&.on {
		display: flex;
	}

	input {
		height: 40px;
		width: 570px;
		border-radius: 10px 0 0 10px;
		border: 1px solid $card-shadow;
		padding: 10px 20px;
		outline: none;
	}
	button {
		height: 40px;
		width: 40px;
		background-color: #0000;
		border-radius: 0 10px 10px 0;
		border: 1px solid $card-shadow;
		border-left: none;
		transition: 0.1s ease-in-out;

		svg {
			transition: 0.1s ease-in-out;
		}

		&:hover {
			background-color: #555;

			svg {
				color: #fff;
			}
		}
	}
}
