aside {
    background-color: #000000;
    height: 100vh;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
aside a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    width: 60%;
}
.aside-item__title {
    font-size: 1.24rem; /*1.28*/
    color: #fff;
    margin: 15px;
}
.aside-item__logo {
    width: 36%;
}
.aside__logo {
    width: 80%;
    margin: 45px 0;
}