.card {
    background: $card-bg;
    border-radius: 10px;
    box-shadow: 5px 5px 10px $card-shadow,
        -5px -5px 10px $card-shadow;
}
.card--top .card__title {
    font-size: 1.28rem; /*1.28*/
    width: fit-content;
    color: $card-text;
}
.card--top {
    height: 110px;
    width: 220px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card__count {
    width: fit-content;
    font-size: 4.32rem; /*4.32*/
    font-weight: 600;
    color: #f3b033;
}
.planets-card {
    width: 425px;
}
.separator {
    height: 55%;
    width: 1px;
    background-color: $card-separator;
}